body {
    text-align:center
}

#Apps{
    width: 100%;
    background-color:antiquewhite;
    
}

#Games {
    background-color: aquamarine;
}

#chatbot {
 background-color: aliceblue;   
}

img {
    transition: transform .2s;
}

img:hover{
    transform: scale(0.9);
}

h1{
    font-weight: 400;
    font-size: 45px;
    font-family: fantasy;
}